.containerImage {
  margin-top: 3em;
  margin-bottom: 1em;
}

.containerInfo {
  margin-top: 2em;
  margin-bottom: 4em;
}

.title {
  color: #1976d2;
  text-align: left;
  padding: 1em;
  padding-bottom: 0.5em;
}

.cardActions {
  margin-top: 1em;
}