.navbar {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  justify-items: center;
  background-color: #0070E0;
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: rgba(255, 255, 255, 0.692);
  margin: 0.765em 1em;
  overflow-wrap: unset;
  text-decoration: none;

}
.link:hover {
   color: rgba(255, 255, 255, 0.966);
   transition: ease-in-out 200ms;
   cursor: pointer;
   user-select: none;
}

.linkLogo {
  text-decoration: none;
}

@media (max-width: 732px) {
  .navbar {
    grid-template-columns: 1fr;
  }
}


