.title {
  color: #1976d2;
  text-align: left;
  padding: 1em;
  padding-bottom: 0.25em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 345px);
  justify-content: center;
  gap: 1rem;
  margin: 0em 2em;
  margin-top: 3em;
}