.App {
  background-color: #ffffff;
  color: #1976d2;
  display: grid;
  grid-template-rows: min-content max-content;
}

/* Quitamos la decoracion de los links de manera global */
a {
  text-decoration: none;
}


