.App {
  text-align: center;
}

.App-header {
  background-color: #1f293d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  line-height: .25em;
}

.main-container {
  background-color: rgba(102, 128, 184, 0.3);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}
